<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niktorious.alarmix"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AlarmixApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/strAppName"
        android:allowBackup="true"
        android:debuggable="true"  >
        <activity
            android:name=".AlarmixActivity"
            android:label="@string/strAppName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".PickSongsActivity"
            android:label="@string/strPickSongs" >
        </activity>
        
        <activity
            android:name=".ViewAlarmsActivity"
            android:label="@string/strViewAlarms" >
        </activity>
    </application>

</manifest>